{% extends 'assets/base.html' %} {% block title %} Login {% endblock %} 
{% block content %} {% load crispy_forms_tags %}
<div class="container mt-5 d-flex justify-content-center">
  <form action="" method="post" class="w-50">
    <h2 class="mb-4">Login User</h2>
    {% csrf_token %}
    <div class="mb-3">{{ form|crispy }}</div>
    
    <p class="mb-3">
      Don't have an account? Create one <a href="{% url 'register' %}">Here</a>
    </p>
    <p class="mb-3"><a href="{% url 'password_reset' %}">Reset Password</a></p>
    <button type="submit" class="btn btn-dark">Login</button>
  </form>
</div>
{% endblock %}
