{% extends 'assets/base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5 d-flex justify-content-center">

  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
      Check your email
    </h2>
    <p class="mt-2 text-center text-sm text-gray-600">
      We’ve sent you an email with instructions to reset your password.
    </p>
    <p class="mb-3"><a href="{% url 'login' %}">Login</a></p>
  </div>
</div>
{% endblock content %}
