{% extends 'base.html' %} {% block title %} Sign up {% endblock %} 
{% block content %} {% load crispy_forms_tags %}
<div class="container mt-5 d-flex justify-content-center">
  <form action="" method="post">
    <h2 class="mb-4">Register a new User</h2>
    {% csrf_token %}
    <div class="mb-3">{{form|crispy}}</div>
    <p class="mb-3">
      Already have an account? Login in <a href="/login">Here</a>
    </p>
    <button type="submit" class="btn btn-danger mb-5">Sign Up</button>
  </form>
</div>
{% endblock %}
