<section class="pb-5">
    <div class="container-lg">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header d-flex flex-wrap justify-content-between my-4">
            <h2 class="product-title">Products</h2>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
        <div class="filter-controls">
          <ul class="filter-options">
            <li class="active" data-filter="*">All</li>
            {% for category in categories %}
            <li data-filter=".{{category.slug}}">{{category.name}}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="row">  
            {% for product in products %}
            <div class="col-lg-4">
              <!-- to eliminate error if image isnt available  -->
              <img class="thumbnail" src="{{product.imageURL}}" />
              <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr />
                <!-- update-cart: for js functionality -->
                <button
                  data-product="{{product.id}}"
                  data-action="add"
                  class="btn btn-outline-secondary add-btn update-cart"
                >
                  Add to Cart
                </button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right">
                  <strong>${{product.price|floatformat:2}}</strong>
                </h4>
              </div>
            </div>
  
            {% endfor %}
            
          </div>
          <!-- / product-grid -->
        </div>
      </div>
    </div>
  </section>
  